build:
  maxIssues: 0
  excludeCorrectable: false
  weights:
    complexity: 2
    LongParameterList: 1
    style: 1
    comments: 1

config:
  validation: true
  warningsAsErrors: false

processors:
  active: true

console-reports:
  active: true

output-reports:
  active: true

comments:
  active: true
  CommentOverPrivateFunction:
    active: false
  CommentOverPrivateProperty:
    active: false
  UndocumentedPublicClass:
    active: true
    excludes: ['**/*Test.kt', '**/examples/**', '**/spectra-ui-android/**']
  UndocumentedPublicFunction:
    active: true
    excludes: ['**/*Test.kt', '**/examples/**', '**/spectra-ui-android/**']

complexity:
  active: true
  LongMethod:
    active: true
    threshold: 100
    excludes: ['**/spectra-ui-android/**']
  LongParameterList:
    active: true
    functionThreshold: 10
    constructorThreshold: 10
    ignoreAnnotated: ['Composable']
  LargeClass:
    active: true
    threshold: 800
  CyclomaticComplexMethod:
    active: true
    threshold: 20
    excludes: ['**/spectra-ui-android/**']
  TooManyFunctions:
    active: true
    thresholdInFiles: 30
    thresholdInClasses: 30
    excludes: ['**/spectra-ui-android/**']

coroutines:
  active: true

empty-blocks:
  active: true

exceptions:
  active: true
  TooGenericExceptionCaught:
    active: true
    exceptionNames:
      - ArrayIndexOutOfBoundsException
      - Error
      - IllegalMonitorStateException
      - IndexOutOfBoundsException
      - NullPointerException
    excludes: ['**/spectra-ui-android/**']
  SwallowedException:
    active: true
    excludes: ['**/spectra-ui-android/**']

naming:
  active: true
  FunctionNaming:
    active: true
    functionPattern: '[a-z][a-zA-Z0-9]*'
    excludes: ['**/examples/**']
    ignoreAnnotated: ['Composable']
  ClassNaming:
    active: true
    classPattern: '[A-Z][a-zA-Z0-9]*'
  VariableNaming:
    active: true
    variablePattern: '[a-z][a-zA-Z0-9]*'
  MatchingDeclarationName:
    active: true
    excludes: ['**/examples/**', '**/spectra-ui-android/**']

performance:
  active: true

potential-bugs:
  active: true

style:
  active: true
  MagicNumber:
    active: true
    excludes: ['**/*Test.kt', '**/*Spec.kt', '**/spectra-ui-android/**', '**/examples/**']
    ignoreNumbers:
      - '-1'
      - '0'
      - '1'
      - '2'
      - '3'
      - '4'
      - '8'
      - '16'
      - '100'
      - '200'
      - '300'
      - '400'
      - '500'
  MaxLineLength:
    active: true
    maxLineLength: 140
    excludeCommentStatements: true
  ReturnCount:
    active: true
    max: 5
    excludes: ['**/spectra-ui-android/**']
  UnusedPrivateMember:
    active: true
    excludes: ['**/spectra-ui-android/**']
  WildcardImport:
    active: false

