build:
  maxIssues: 0
  excludeCorrectable: false
  weights:
    complexity: 2
    LongParameterList: 1
    style: 1
    comments: 1

config:
  validation: true
  warningsAsErrors: false

processors:
  active: true

console-reports:
  active: true

output-reports:
  active: true

comments:
  active: true
  CommentOverPrivateFunction:
    active: false
  CommentOverPrivateProperty:
    active: false
  UndocumentedPublicClass:
    active: false
  UndocumentedPublicFunction:
    active: false
  # Allow TODOs - they're useful during development
  ForbiddenComment:
    active: false

complexity:
  active: true
  LongMethod:
    active: true
    threshold: 100
  LongParameterList:
    active: true
    functionThreshold: 10
    constructorThreshold: 10
    ignoreAnnotated: ['Composable']
  LargeClass:
    active: true
    threshold: 800
  CyclomaticComplexMethod:
    active: true
    threshold: 20
  TooManyFunctions:
    active: true
    thresholdInFiles: 30
    thresholdInClasses: 30

coroutines:
  active: true

empty-blocks:
  active: true

exceptions:
  active: true
  TooGenericExceptionCaught:
    active: true
    exceptionNames:
      - ArrayIndexOutOfBoundsException
      - Error
      - IllegalMonitorStateException
      - IndexOutOfBoundsException
      - NullPointerException
  SwallowedException:
    active: true

naming:
  active: true
  FunctionNaming:
    active: true
    functionPattern: '[a-z][a-zA-Z0-9]*'
    ignoreAnnotated: ['Composable']
  ClassNaming:
    active: true
    classPattern: '[A-Z][a-zA-Z0-9]*'
  VariableNaming:
    active: true
    variablePattern: '[a-z][a-zA-Z0-9]*'
  MatchingDeclarationName:
    active: true

performance:
  active: true

potential-bugs:
  active: true
  ImplicitDefaultLocale:
    active: false

style:
  active: true
  MagicNumber:
    active: false
  MaxLineLength:
    active: true
    maxLineLength: 140
    excludeCommentStatements: true
  ReturnCount:
    active: true
    max: 5
  UnusedPrivateMember:
    active: true
  WildcardImport:
    active: false


